<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>373238349356-66o8cg8538cb8imi4o1iqu0knqtldptm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.373238349356-66o8cg8538cb8imi4o1iqu0knqtldptm</string>
	<key>API_KEY</key>
	<string>AIzaSyBGOL6trpwsqhy1WuUlyrGCqkpabg2MCug</string>
	<key>GCM_SENDER_ID</key>
	<string>373238349356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mrx.PolMessenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-3e80a</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-3e80a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:373238349356:ios:4393fa47d5b78f5d779b89</string>
</dict>
</plist>